<ion-view title="About Me">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h1>About me</h1>
        <div>
            <p>Details: FULL NAME: Steven Daniell Jackson Date Of Birth: 02/11/1988 Nationality: South African Home LanguageE: English Employment Equity: White Male Personality Type: INTJ</p>

            <p>Profiles: Linkedin: https://za.linkedin.com/pub/steven-jackson/b3/978/199 Github link: https://github.com/steven-daniell-jackson/ Online Resume: http://steven-daniell-jackson.github.io/ Documented Portfolio: Google sheets Screenshot Portfolio:
                http://steven-daniell-jackson.github.io/screenshot
                <em>portfolio/ Angular Screenshot Portfolio(Experiment):http://steven-daniell-jackson.github.io/screenshot</em>portfolio_app/</p>

            <p>Other projects: Mostly JS version of my Resume Source files for my Client CSV Validator Source files for my Client CSV Validator(CS Cart)</p>
        </div>
    </ion-content>
</ion-view>