<ion-view title="Overview">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h1>Overview</h1>
        <br>
        <div>
            <p>This is Ionic single page app that connects to my API server</p>

            <p>Purpose: Easily add work that I have done daily</p>

            <p>Reason: Doing it as my first Ionic side project. Converted my previous <a href="http://steven-daniell-jackson.github.io/diary/">Angular diary project</a> to Ionic</p>

            <p>Future plans: To save entries to Google sheets</p>

            <p>Text Editor: Sublime Text 3</p>

            <p>Frameworks: Ionic
            </p>

            <p>Browser: Chrome
            </p>

            <p>Operating System: Windows 10</p>
        </div>
    </ion-content>
</ion-view>