<ion-view title="Overview">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h1>Overview</h1>
        <div>
            <p>This is a angular single page app that works with my node server for serving out my Dairy entries</p>

            <p>Purpose: Easily add work that I have done daily</p>

            <p>Reason: Doing it as my second Angular side project to get a better understanding of the MEAN stack and my memory is bad</p>

            <p>Future plans: To save entries to Google sheets</p>

            <p>Text Editor: Sublime Text 3</p>

            <p>Node Packages: bcrypt-nodejs body-parser express gulp gulp-nodemon mongoose
            </p>

            <p>Frameworks: Bootstrap AngularJS
            </p>

            <p>Browser: Chrome
            </p>

            <p>Operating System: Windows 10</p>
        </div>
    </ion-content>
</ion-view>