<ion-view title="Search">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <h1>Search</h1>
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="">
            </label>
        </form>
        <div class="list card">
            <div class="item item-divider">Card</div>
            <div class="item item-body"></div>
        </div>
    </ion-content>
</ion-view>