<ion-view title="Search">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <h1>Search</h1>
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Client Name" ng-model="clientNameFilter">
            </label>
        </form>
        <div ng-if="preloader" class="text-center"><img src="http://orig06.deviantart.net/df77/f/2013/094/8/d/loading_logofinal_by_zegerdon-d60eb1v.gif" alt=""></div>


<div ng-repeat="entry in entries | filter:clientNameFilter">

<div ng-if="entry.clientName.indexOf(clientNameFilter) > -1">
<taskpanel custom-task-data="entry"  class="col-md-4 layout-fix"></taskpanel>
</div>
    </ion-content>
</ion-view>