<ion-view title="About Me">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h1>About me</h1>
        <blockquote> 
       <p><strong>Details:</strong><br><br>Full name: Steven Daniell Jackson<br> 
        Date Of Birth: 02/11/1988 <br> 
        Nationality: South African <br> 
        Home LanguageE: English <br> 
        Employment Equity: White Male <br> 
        Personality Type: INTJ</p>
        </blockquote>
        <blockquote>    
        <p><strong>Profiles:</strong><br><br>
            <a href="https://za.linkedin.com/pub/steven-jackson/b3/978/199" class="link-red">Linkedin<br></a>
            <a href="https://github.com/steven-daniell-jackson" class="link-red">Github</a><br>
            <a href="http://steven-daniell-jackson.github.io/" class="link-red">Desktop Resume</a><br>
            <a href="https://docs.google.com/spreadsheets/d/1s7Or_0nZ1YYS3KibGAVgGdPnjmqB6iYWQPnXvEVpUmw/edit?usp=sharing" class="link-red">Documented Portfolio</a><br>
            <a href="http://steven-daniell-jackson.github.io/screenshot_portfolio/" class="link-red">Screenshot Portfolio</a><br>
            <a href="http://steven-daniell-jackson.github.io/screenshot_portfolio_app" class="link-red">Angular Screenshot Portfolio (Experiment)</a>
        </p>
        </blockquote>
<blockquote>    
        <p><strong>Other projects:</strong><br><br>
            <a href="http://steven-daniell-jackson.github.io/resume-js/" class="link-red">Mostly JS version of my Resume</a><br>
            <a href="https://github.com/steven-daniell-jackson/csv_validator" class="link-red">Source files for my Client CSV Validator</a><br>
            <a href="https://github.com/steven-daniell-jackson/cscart_csv_validator" class="link-red">Source files for my Client CSV Validator(CS Cart)</a><br>
            <a href="http://steven-daniell-jackson.github.io/diary/#/home" class="link-red">Angular Version of my Diary</a><br>
        </p>
        </blockquote>
    </ion-content>
</ion-view>