<ion-view title="About Me">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h1>About me</h1>
       <p><strong>Details:</strong><br>FULL NAME: Steven Daniell Jackson<br> 
        Date Of Birth: 02/11/1988 <br> 
        Nationality: South African <br> 
        Home LanguageE: English <br> 
        Employment Equity: White Male <br> 
        Personality Type: INTJ</p>
        <p><strong>Profiles:</strong><br>
            Linkedin: <a href="https://za.linkedin.com/pub/steven-jackson/b3/978/199">https://za.linkedin.com/pub/steven-jackson/b3/978/199</a><br>
            Github link: <a href="https://github.com/steven-daniell-jackson">https://github.com/steven-daniell-jackson/</a><br>
            Online Resume: <a href="http://steven-daniell-jackson.github.io/">http://steven-daniell-jackson.github.io/</a><br>
            Documented Portfolio: <a href="https://docs.google.com/spreadsheets/d/1s7Or_0nZ1YYS3KibGAVgGdPnjmqB6iYWQPnXvEVpUmw/edit?usp=sharing">Google sheets</a><br>
            Screenshot Portfolio: <a href="http://steven-daniell-jackson.github.io/screenshot_portfolio/">http://steven-daniell-jackson.github.io/screenshot_portfolio/</a><br>
            Angular Screenshot Portfolio(Experiment):<a href="http://steven-daniell-jackson.github.io/screenshot_portfolio_app">http://steven-daniell-jackson.github.io/screenshot_portfolio_app/</a>
        </p>

        <p><strong>Other projects:</strong><br>
            <a href="http://steven-daniell-jackson.github.io/resume-js/">Mostly JS version of my Resume</a><br>
            <a href="https://github.com/steven-daniell-jackson/csv_validator">Source files for my Client CSV Validator</a><br>
            <a href="https://github.com/steven-daniell-jackson/cscart_csv_validator">Source files for my Client CSV Validator(CS Cart)</a><br>
            <a href="http://steven-daniell-jackson.github.io/diary/#/home">Angular Version of my Diary</a><br>
        </p>
    </ion-content>
</ion-view>