<ion-view title="Archive">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h1>Archived Entries</h1>
       <a ui-sref="menu.archive2016"> 
       <div class="list card">
            <div class="item item-divider">2016</div>
            <div class="item item-body">Collection of work for 2016</div>
        </div>
        </a>

        <a ui-sref="menu.archive2015">
        <div class="list card">
            <div class="item item-divider">2015</div>
            <div class="item item-body">Collection of work for 2015</div>
        </div>
 </a>

        
    </ion-content>
</ion-view>