<ion-view title="Home">
<ion-content overflow-scroll="true" padding="true" class="has-header">

<a ui-sref="menu.overview" >
	<div class="list card">
		<div class="item item-divider">Overview</div>
		<div class="item item-body">
			Overview of this project
		</div>
	</div>
</a>

<a ui-sref="menu.recentEntries" >
	<div class="list card">
		<div class="item item-divider">Recent Entries</div>
		<div class="item item-body">
			My most recent entries
		</div>
	</div>
</a>


<a ui-sref="menu.archive" >
	<div class="list card">
		<div class="item item-divider">Archived Entries</div>
		<div class="item item-body">
			My previous entries
		</div>
	</div>
</a>

<a ui-sref="menu.search" >
	<div class="list card">
		<div class="item item-divider">Search Entries</div>
		<div class="item item-body">
			Search my entries by the client name
		</div>
	</div>
</a>

<a ui-sref="menu.aboutMe" >
	<div class="list card">
		<div class="item item-divider">About me</div>
		<div class="item item-body">
			A little bit about me
		</div>
	</div>
</a>

</ion-content>
</ion-view>