<div ng-if="filterYear == 2015">	
<a ui-sref="menu.archive2015month({monthFilter: customMonth})"> 
<div class="list card">
            <div class="item item-divider">{{customMonth}}</div>
            <div class="item item-body">Collection of work done for the month of {{customMonth}}
            </div>
        </div>
</a>
</div>

<div ng-if="filterYear == 2016">	
<a ui-sref="menu.archive2016month({monthFilter: customMonth})"> 
<div class="list card">
            <div class="item item-divider">{{customMonth}}</div>
            <div class="item item-body">Collection of work done for the month of {{customMonth}}
            </div>
        </div>
</a>
</div>


