<div class="list card">
            <div class="item item-divider">Entry - {{customTaskData.date| date:dateFormat}}</div>
            <div class="item item-body">
              <!-- List group -->
  <ul class="list-group">
   <li class="list-group-item"><strong>Client name:</strong> {{customTaskData.clientName}}</li>
    <li class="list-group-item"><strong>Platform:</strong> {{customTaskData.platform}}</li>
    <li class="list-group-item"><strong>URL:</strong> {{customTaskData.url}}</li>
    <li class="list-group-item"><strong>Work Done:</strong> {{customTaskData.workDone}}</li>
    <li class="list-group-item"><strong>Date:</strong> {{customTaskData.date| date:dateFormat}}</li>
    <li ng-show="customTaskData.comments" class="list-group-item"><strong>Comments:</strong> {{customTaskData.comments}}</li>

  </ul>

            </div>
        </div>



